<?xml version="1.0"?>
<!--
/**
 * DRS SyncFeed Module 
 *
 * @category    DRS
 * @package     DRS_SyncFeed
 * @author      Daniel Rodríguez
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DRS_SyncFeed" setup_version="1.0.0">
    </module>
</config>